header {
    text-align: right;

}
.logo {
    text-align: center;
    padding-top: 109px;
    padding-bottom: 12px;
}
.form {
    text-align: center;
}
.botones {
    text-align: center;
    padding: 11px; 
}
